.map-display {
    height: 50vh;
    width: 100%;
}

header{
  @include flex($ai:center);
  height: 15rem;
  .logo{
    margin-left: 8rem;
    display: flex;
  }
  h1{
    margin: 0;
  }
}

#searchVenues{
  position: absolute;
  top: 0;
  right: 0;
}

#age-gate{
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 0;
  @include flex(center, center);
  display: flex;
  div{
    height: 35rem;
    width: 60rem;
    @include flex(center, center, column);
  }
  button{
    margin-top: 2rem;
    margin-left: 16rem;
  }
}
