// Colours
$hefe: #E4BE50;
$pilsner: #D69C2E;
$lager: #BB562C;
$ale: #8C322A;
$blonde: #8C322A;
$stout: #141416;
$offBlack: rgb(36, 36, 36);
$offWhite: rgb(238, 238, 238);


// Fonts
$osc: 'Open Sans Condensed', sans-serif;
