<header>
  {{#link-to 'index'}}
  <div class="logo">
    <div class="brandName">
      <h1 class="steer">Steer</h1>
      <h1 class="meto">me to</h1>
    </div>
    <h1 class="beer">Beer</h1>
  </div>
  {{/link-to}}
</header>

{{outlet}}
